# for local development
services:
  woudc-ui:
    image: woudc/woudc-ui:nightly
    container_name: woudc-ui-nightly
    build:
      context: .
    restart: unless-stopped
    ports:
    - '6081:6081'
