Source: woudc-ui
Section: free/web
Priority: optional
Maintainer: Kevin Ngai <kevin.ngai@canada.ca>
Build-Depends: debhelper (>= 9), nodejs (>= 10.13)
Standards-Version: 3.9.5
Vcs-Git: https://github.com/woudc/woudc-ui.git

Package: woudc-ui
Architecture: all
Homepage: https://woudc.org
Description: woudc.org website 
 WOUDC web application which powers https://woudc.org as part of the WMO
 Global Atmospheric Watch.  
