#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	npm install
	npm run build

override_dh_install:
	mkdir -p debian/tmp/web/woudc-ui
	cp -ap dist/* debian/tmp/web/woudc-ui
	cp deploy/default/woudc-ui.conf debian/tmp/web
	cp deploy/default/htaccess debian/tmp/web/woudc-ui/.htaccess
	dh_install --autodest

